doctype html
//
  Spectral by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title 商標通 - 最便捷的商標註冊服務
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js')
    style.
      .ui.blue.large.label.largelabel{
         margin-bottom:2px;
         margin-top:1px
      }
      .ui.checkbox{
         margin-left:5px;
         margin-right:5px
      }
  body
    div(style='margin:50px;')
      .ui.ordered.steps
        a.active.step
          .content
            .title 類別項目勾選
            .description 勾選您要申請商標所涵蓋的類別項目
        a.step
          .content
            .title 基本資料
            .description 填寫您的基本資料
        a.step
          .content
            .title 產生報告
            .description 以此報告可直接向智財局申請註冊
      p
      .ui.grid
        .four.wide.column
          h2.ui.header 要提交申請的項目
          #criteria(style='width:85%;margin:20px;')
            


            //.ui.blue.large.label.largelabel
            //    | #{item}
                //i(id="deletelargelabel"+i).close.icon


        .six.wide.column
          .ui.big.left.lageled.input.search.ex1(style='width:100%;')
            input.prompt(type='text', placeholder='根據產品/服務篩選子類別',id='class-search-input')
            .results
            button#class-search-button.ui.large.teal.button(style='margin-left:10px;')
              | 搜尋
          
          p
          p
          .ui.styled.accordion
            for c in class_list
              .title
                i.dropdown.icon
                |  #{c.name}
                
              .content
                .accordion
                  for subclass in c.subclasses
                    
                    if subclass_is_active[subclass.name]
                      .title.active
                        | #{subclass.name}
                    else
                      .title
                        | #{subclass.name}

                    if subclass_is_active[subclass.name]
                      .content.active
                        for item in subclass.items
                          
                          .ui.checkbox
                            input(type='checkbox',class='checkbox'+item2ind[item])
                            if item_is_active[item]
                              label(style='font-weight:bold;color:red', id='label'+item2ind[item])= item
                            else
                              label(id='label'+item2ind[item])= item
                    else
                      .content
                        for item in subclass.items
                          
                          .ui.checkbox
                            input(type='checkbox',class='checkbox'+item2ind[item])
                            if item_is_active[item]
                              label(style='font-weight:bold;color:red', id='label'+item2ind[item])= item
                            else
                              label(id='label'+item2ind[item])= item
                              
        .six.wide.column
          .ui.big.left.lageled.input.search(style='width:100%;')
            input.prompt(type='text', placeholder='以廠商名稱查詢註冊項目',id='profile-search-input')
            .results
            button#profile-search-button.ui.large.teal.button(style='margin-left:10px;')
              | 搜尋
          p
            for profile in profile_list
              .ui.styled.accordion
                .title
                  i.dropdown.icon
                  |  #{ (profile.en_name && profile.ch_name)? profile.ch_name+" ("+profile.en_name+")": ((profile.ch_name)?profile.ch_name:profile.en_name) }
                .content.active
                   for item in profile.items
                     .ui.checkbox
                        input(type='checkbox', class='checkbox'+item2ind[item])
                        label(id='label'+item2ind[item]) #{item}

      .ui.right.floated.big.red.button(id="nextpage_btn") 下一步
    
    script.

      profile_search_input="";
      class_search_input="";
      num_items = #{numItem};
      selectItemList = urlToItemList(window.location.href);
      
      //parse item list from URL
      function urlToItemList(url){
          
          var href = decodeURI(url);
          //parse href to url_suffix_map
          var href_arr = href.split("?");
          
          if( href_arr.length <= 1 ){
          		return [];
          }

          url_suffix =  href_arr[1];
          if( url_suffix == "" ){
               return [];
          }
          
          var url_suffix_map = {};
          url_suffix_arr = url_suffix.split("&");
          for(var i=0;i<url_suffix_arr.length;i++){
              var token = url_suffix_arr[i];
              kv_pair = token.split("=");
              url_suffix_map[ kv_pair[0] ] = kv_pair[1];
          }
          
          itemliststr = url_suffix_map['itemlist'];
          
          if( !itemliststr ){
             return [];
          }
          
          itemlist = [];
          tokens = itemliststr.split(",");
          
          for(var i=0;i<tokens.length;i++){
             pair = tokens[i].split(":");
             itemlist.push( [ Number(pair[0]), pair[1] ] );
          }

          return itemlist;
      }

      //convert itemlist to a URL string
      function itemlistToURL(itemlist){
         
         tokens = [];
         for(var i=0;i<itemlist.length;i++){
            pair = itemlist[i];
            tokens.push( pair[0]+":"+pair[1] );
         }

         return tokens.join(",");
      }

      //Render Selected Items
      function showSelectItems(){
          
          //add item tags to DOM
      	  itemLabels = '';
      	  for(var i=0;i<selectItemList.length;i++){
            
            id = selectItemList[i][0];
      	    item = selectItemList[i][1];
      	  	itemLabels += "<div class='ui blue large label largelabel'>"+item+ "<i class='close icon' id='delete"+i+"'>"+"</i>" +"</div>";

      	  	//make checkbox of selected items checked
      	  	$('.checkbox'+id).prop('checked',true);
      	  }
      	  $('#criteria').html(
      	  	 itemLabels
      	  );

      	  //add event listener to item delete icon
      	  for(var i=0;i<selectItemList.length;i++){

      	    id = selectItemList[i][0];
      	    item = selectItemList[i][1];
      		
      		(function(_i,_id){
      		    
      		    $('#delete'+_i).click(
      		    	function(){
      		    	    
      		    		deleteItem(_i)
      		    		showSelectItems();
      		    	} 
      		    );
      		})(i,id);
      	  }
      }
      
      function deleteItem(i){
         id = selectItemList[i][0];
         selectItemList.splice(i,1);
         $('.checkbox'+id).prop('checked',false);
      }

      showSelectItems();

      //General Redirect
      function redirect(){
          
          var href = window.location.href;
          
          //parse href to url_suffix_map
          var href_arr = href.split("?");
          var domain_name = href_arr[0];
          
          var url_suffix = "";
          var url_suffix_map = {};
          
          if( href_arr.length > 1 ){
            url_suffix =  href_arr[1];
            if( url_suffix != "" ){
              url_suffix_arr = url_suffix.split("&");
              for(var i=0;i<url_suffix_arr.length;i++){
                 var token = url_suffix_arr[i];
                 kv_pair = token.split("=");
                 url_suffix_map[ kv_pair[0] ] = kv_pair[1];
              }
            }
          }
          
          //modify url_suffix_map
          if( class_search_input != "" )
            url_suffix_map['class_query'] = class_search_input;
          
          if( profile_search_input != "" )
            url_suffix_map['profile_query'] = profile_search_input;
          
          console.log(selectItemList.length);
          if( selectItemList.length != 0 ){
            
            url_suffix_map['itemlist'] = itemlistToURL(selectItemList);
          }
          
          //reconstruct url_suffix from map
          var url_suffix_arr = [];
          for(key in url_suffix_map){
             var val = url_suffix_map[key];
             url_suffix_arr.push( key+"="+val );
          }
          url_suffix = url_suffix_arr.join("&");
          
          console.log(domain_name+"?"+url_suffix);
          //redirect
          window.location.assign(domain_name+"?"+url_suffix);
      };
      
      //Class-based Search
      $('#class-search-button').click(function(){
      
          class_search_input = $('#class-search-input').val();
          redirect();
      });

      //Profile-based Search
      $('#profile-search-button').click(function(){

          profile_search_input = $('#profile-search-input').val();
          redirect();
      });

      //Item Select (Dis-selected)

      $('.ui.accordion').accordion();
      $('.activating.element').popup();

      for(var i=0;i<num_items;i++){
      	(function(j){
      		
      		$('.checkbox'+j).click( 
      		    function(){
      		    	item = $('#label'+j).text();
      		    	
                    //delete if exist; add if not.
                    var k;
      		    	for(k=0;k<selectItemList.length;k++){
                       if(selectItemList[k][1]==item){
                          break;
                       }
      		    	}
      		    	if( k<selectItemList.length ){//exist
                       deleteItem(k);
      		    	}else{                        //not exist
      		    	   selectItemList.push([j,item]);
      		    	}

      		    	showSelectItems();
      		    }
      		);
      	})(i);
      }

      //direct to next page
      $('#nextpage_btn').click(function(){

           var href = window.location.href;
           domain = href.split("/")[0];
           
           itemNameList = [];
           for(var i=0;i<selectItemList.length;i++){
              itemNameList.push(selectItemList[i][1]);
           }
           
           window.location.assign(domain+"/information?itemlist="+itemNameList.join(","));
      });

      //Class-based Autocomplete
      /*$('.ui.search.ex1').search({
      
        apiSettings: {
        url: "http://localhost:3000/search/?search_query={query}"
        //url: "https://api.github.com/search/repositories?q={query}"
      },
      fields: {
        results: 'items',
        title: 'name'
      },
        onResults: function(res) {
          console.log("res:", res)
        }
      });*/
