doctype html
html
  head
    title Visit Report
    // Bootstrap core CSS
    link(href='/stylesheet/bootstrap.css', rel='stylesheet')

    link(href='/stylesheet/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/stylesheet/mystyles.css', rel='stylesheet')
    link(href='/stylesheet/font-awesome.min.css', rel='stylesheet')
    link(href='/stylesheet/font-awesome.css', rel='stylesheet')


    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

  body(data-spy='scroll', data-target='.scrollspy')
    .table-responsive.theDiv
      table.table.table-striped
        tr
          th 商標名稱
          th 產品類型
          th 手機
          th Email
          th Line
        for visit in visits
          tr
            td= visit.trade_name
            td= visit.trade_type
            td= visit.mobile_contact
            td= visit.email_contact
            td= visit.line_contact
        else
          no visit records!
